* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d230d;
}

nav ul {
    list-style-type: none;
}

nav li {
    float: right;
}
  
nav li a {
    text-decoration: none;
    display: inline-block;
    color: azure;
    text-align: center;
    padding: 2vmin 2.1vmin;
    font-size: 2.3vmin;
}

nav li:first-of-type {
    margin-right: 2.5%;
}

nav img{
    float: left;
    padding: 5px;
    margin-left: 2.5%;
    margin-bottom: 0%;
}
  
a:hover {
    background-color: #020f06;
}

body {
    background-color: #466049;
}

main img {
    margin: 0 auto;
    width: 100vw;
}

main {
    position: relative;
}

main h1 {
    font-size: 3.5vmin;
    color:azure;
    position: absolute;
    top: 20%;
    left: 48%;
}

.arrow {
    border: solid azure;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    position: absolute;
    top: 30%;
    left: 50%;
}

.home-text-box {
    background-color: azure;
    padding: 1.5% 0% 2% 0%;    
}

.home-text-box h2 {    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    font-size: 2vw;
    text-align: center;
}

.home-types-of-climbing ul{
    display: flex;
    padding: 2%;
    text-align: center;
    justify-content: space-around;
}

.home-types-of-climbing {
    position: relative;
}

.home-types-of-climbing::after {
    background: linear-gradient(-45deg, #0d230d 55px, transparent 0), linear-gradient(45deg, azure 55px, transparent 0);
    background-repeat: repeat-x;
    background-size: 80px 80px;
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
.home-types-of-climbing::before {
    background: linear-gradient(-135deg, azure 55px, transparent 0), linear-gradient(135deg, #0d230d 55px, transparent 0);
    background-repeat: repeat-x;
    background-size: 80px 80px;
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.home-types-of-climbing li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-flex;
    padding: 2vmin 2.1vmin;
    font-size: 2vmin;
    background-color: rgb(167, 204, 170);
    color: black;
    border-radius: 2.5%;
    flex-direction: column;
}

.home-types-of-climbing h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-flex;
    padding: 1vmin;
    background-color: rgb(167, 204, 170);
    color: black;
    font-size: 1.5vw;
    margin-top: 120px;
    margin-bottom: 20px;
    display: inline-flex;
    border-radius: 2.5%;
}

.home-types-of-climbing img {
    padding-top: 10%;
    max-width: 15vw;
}

.home-types-of-climbing img:hover {
    transform: scale(2);
}

.home-competions {
    background-color: #0d230d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2vmin;
    font-size: 2vmin;
    text-align: left;
    padding: 3.2vw;
    margin-top: 80px;
    color: azure;
}

.home-competions p {
    padding-top: 1vw;
}

.home-me {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-flex;
    flex-direction: row;
}

.home-me img{
    background-color: #0d230d;
    padding: 1.5vmin;
    margin: 5%;
    float: left;
}

.home-me h3, .home-me p {
    padding: 1.5vmin;
    text-align: left;
    background-color: rgb(167, 204, 170);
    display: flex;
    flex-direction: column;
    margin: 3em;
}

footer {
    margin-top: 50%;
}

